<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Hotels Maintenance Database</title>
<body>
<p>Hotels Maintenance Application</p>
<a href="{% url 'HotelsAppCRUD:customer_index' %}"> Customer Menu</a>
<a href="{% url 'HotelsAppCRUD:hotel_index' %}"> Hotel Menu</a>
<a href="{% url 'HotelsAppCRUD:room_index' %}"> Room Menu</a>
<a href="{% url 'HotelsAppCRUD:rooms_billing_index' %}"> Room Billing Menu</a>
<a href="{% url 'HotelsAppCRUD:rooms_charge_index' %}"> Room Charge Menu</a>
<a href="{% url 'HotelsAppCRUD:rooms_reservation_index' %}"> Room Reservation Menu</a>
<a href="{% url 'HotelsAppCRUD:rooms_service_index' %}"> Room Service Menu</a>
</body>
</head>
</html>