<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotels Application</title>
<body>
<p>Rooms Service Maintenance Database</p>
<a href="{% url 'HotelsAppCRUD:rooms_service_create' %}"> Rooms Service Create</a>
<a href="{% url 'HotelsAppCRUD:rooms_service_list' %}"> Rooms Service List</a>
<a href="{% url 'HotelsAppCRUD:rooms_service_update' %}"> Rooms Service Update</a>
<a href="{% url 'HotelsAppCRUD:rooms_service_update' %}"> Rooms Service Delete</a></body>
</body>
</head>
</html>