<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        {% load static %}
        <link rel="icon" href="{% static 'image/favicon.png' %}" type="image/png">
        <title>Royal Hotel</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css'  %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'  %}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css'  %}">
        <link rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css'  %}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css'  %}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css'  %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>Room Service List</title>
</head>
<body>
       <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area blog_banner_two">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle f_48">Hotels Application Maintenance Database</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'HotelsAppCRUD:rooms_service_index' %}">Home</a></li>
                        <li class="active">Room Service List</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
  {% block content %}
  <h1>Room Service List</h1>
<div class="container-fluid">
  {% if service_list %}
   <table class="table table-hover">
      <thead>
         <tr>
           <th scope="col1">Service Id</th>
           <th scope="col2">Room Service Description</th>
           <th scope="col3">Room Service Price</th>
        </tr>
      </thead>
      <tbody>
       {% for service in service_list %}
        <tr>
               <td>{{service.service_id}}</td>
               <td>{{service.service_description}}</td>
               <td>{{service.service_price}}</td>
               <td> <a href="{% url 'HotelsAppCRUD:rooms_service_detail' pk=service.service_id %}" class="btn btn-info btn-block" role="button">Detail</a> </td>
               <td> <a href="{% url 'HotelsAppCRUD:rooms_service_update' pk=service.service_id %}" class="btn btn-info btn-block" role="button">Update</a> </td>
               <td> <a href="{% url 'HotelsAppCRUD:rooms_service_delete' pk=service.service_id %}" class="btn btn-info btn-block" role="button">Delete<span class="glyphicon glyphicon-trash"></span> </a> </td>
        </tr>
       {% endfor %}
      </tbody>
   </table>
  {% else %}
     <p>There are no Room Service in the database.</p>
  {% endif %}
</div>
{% endblock %}
</body>
</html>