<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Room Detail</title>
</head>
<body>
{% block content %}
  <h1>Room Id: {{ room.room_id }}</h1>
  <p><strong>Hotel Id:</strong> {{ room.hotel_id }}</p>
  <p><strong>Room Number:</strong> {{ room.room_number }}</p>
  <p><strong>Room Type:</strong> {{ room.room_type }}</p>
  <p><strong>Type:</strong> {{ room.type }}</p>
  <p><strong>Beds:</strong> {{ room.beds }}</p>
  <p><strong>Max Occupancy:</strong> {{ room.max_occupancy }}</p>
  <p><strong>Cost per Night:</strong> {{ room.cost_per_night }}</p>
{% endblock %}
</body>
</html>