<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Hotel Detail</title>
</head>
<body>

{% block content %}
  <h1>Hotel: {{ hotel.name }}</h1>
  <p><strong>Description:</strong> {{ hotel.description }}</a></p>
  <p><strong>Star Rating:</strong> {{ hotel.star_rating }}</p>
  <p><strong>Address:</strong> {{ hotel.address }}</p>
  <p><strong>Latitude:</strong> {{ hotel.latitude }}</p>
  <p><strong>Longitude:</strong> {{ hotel.longitude }}</p>
{% endblock %}
</body>
</html>