<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Detail</title>
</head>
<body>

{% block content %}
  <h1>Hotel: {{ hotel.name }}</h1>
  <p><strong>Description:</strong> {{ hotel.description }}</a></p>
  <p><strong>Star Rating:</strong> {{ hotel.star_rating }}</p>
  <p><strong>Address:</strong> {{ hotel.address }}</p>
  <p><strong>Latitude:</strong> {{ hotel.latitude }}</p>
  <p><strong>Longitude:</strong> {{ hotel.longitude }}</p>
{% endblock %}
</body>
</html>