<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotels Application</title>
<body>
<p>Rooms Reservation Maintenance Database</p>
<a href="{% url 'HotelsAppCRUD:rooms_reservation_create' %}"> Rooms Reservation Create</a>
<a href="{% url 'HotelsAppCRUD:rooms_reservation_list' %}"> Rooms Reservation List</a>
<a href="{% url 'HotelsAppCRUD:rooms_reservation_update' %}"> Rooms Reservation Update</a>
<a href="{% url 'HotelsAppCRUD:rooms_reservation_delete' %}"> Rooms Reservation Delete</a></body>
</body>
</head>
</html>