<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Room Reservation Detail</title>
</head>
<body>
% block content %}
  <h1>Reservation Id: {{ roomreservation.reservation_id }}</h1>
  <p><strong>Hotel Id:</strong> {{ roomreservation.hotel_id }}</p>
  <p><strong>Customer Id:</strong> {{ roomreservation.customer_id }}</p>
  <p><strong>Room Id:</strong> {{ roomreservation.room_id }}</p>
  <p><strong>Room Number:</strong> {{ roomreservation.room_number }}</p>
  <p><strong>From Date:</strong> {{ roomreservation.from_date }}</p>
  <p><strong>To Date:</strong> {{ roomreservation.to_date }}</p>
  <p><strong>Payment No:</strong> {{ roomreservation.payment_no }}</p>
{% endblock %}
</body>
</html>