<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Hotels Application</title>
<body>
<p>Rooms Reservation Maintenance Database</p>
{% block content %}
  <h1>Reservation List</h1>
  {% if reservation_list %}
  <ul>
    {% for reservation in reservation_list %}
      <li>
        <a href="{{ reservation.get_absolute_url }}">{{ reservation.reservation_id}}</a> ({{reservation.room_number}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no Hotels in the database.</p>
  {% endif %}
{% endblock %}
</body>
</head>
</html>