<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotels Application</title>
<body>
<p>Room Billing Maintenance Database</p>
<a href="{% url 'HotelsAppCRUD:room_billing_create' %}"> Rooms Billing Create</a>
<a href="{% url 'HotelsAppCRUD:room_billing_list' %}"> Rooms Billing List</a>
<a href="{% url 'HotelsAppCRUD:room_billing_update' %}"> Rooms Billing Update</a>
<a href="{% url 'HotelsAppCRUD:room_billing_delete' %}"> Rooms Billing Delete</a>
</body>
</head>
</html>