<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Room Billing Detail</title>
</head>
<body>
{% block content %}
  <h1>Room Billing Id: {{ roombilling.reservation_id }}</h1>
  <p><strong>Customer Id:</strong> {{ roombilling.customer_id }}</p>
  <p><strong>Room Charge Id:</strong> {{ roombilling.room_charge_id }}</p>
  <p><strong>Billing Address 1:</strong> {{ roombilling.billing_address1 }}</p>
  <p><strong>Billing Address 2:</strong> {{ roombilling.billing_address1 }}</p>
  <p><strong>County:</strong> {{ roombilling.county }}</p>
  <p><strong>Postal Code:</strong> {{ roombilling.postal_code }}</p>
  <p><strong>Country:</strong> {{ roombilling.country }}</p>
  <p><strong>Total Invoice:</strong> {{ roombilling.total_invoice }}</p>
{% endblock %}
</body>
</html>